<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player</title>
    <style>
        #player1
        {
            float:right;
            width:900px;

        }
        #player2
        {
            float:left;
            width:900px;
        }
        #video1{
            width: 100%;
            height: auto;
        }
        #video2{
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
<form>
    <div id="player1">
        <video id="video1" controls="" autoplay="" name="media"><source src="http://localhost:8080/images/20190422234406_%E8%A7%86%E7%BA%BF%E8%B5%9B%E8%BD%A6%E8%BE%85%E5%8A%A9.mp4" type="video/mp4"></video>
    </div>

    <div id="player2">
        <video id="video2" controls="" autoplay="" name="media"><source src="http://localhost:8080/images/20190422234259_%E8%A7%86%E7%BA%BF%E5%8A%9E%E5%85%AC%E8%BE%85%E5%8A%A9.mp4" type="video/mp4"></video>
    </div>
</form>

</body>
</html>